name: Sparse Checkout

on: push

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        sparse-checkout: |
          docs
          README.md
        sparse-checkout-cone-mode: false
    
    - name: List checked out files
      run: ls -la